@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
                <h3 class="mb-0">Deneyim Listesi</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="sort" data-sort="name">#</th>
                            <th scope="col" class="sort" data-sort="budget">Başlık</th>
                            <th scope="col" class="sort" data-sort="budget">Tarih</th>
                            <th scope="col" class="sort" data-sort="status">Açıklama</th>
                            <th scope="col">Düzenle</th>                     
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.ExperienceId</th>

                                <th><strong>@item.Name</strong></th>
                                
                                <td class="budget">@item.Date.ToString("dd-MMM-yyyy")</td>

                                <td>
                                    @item.Description...
                                </td>
                                <td>
                                    <a href="/Experience/DeleteExperience/@item.ExperienceId" class="btn btn-danger">Sil</a>
                                    <a href="/Experience/UpdateExperience/@item.ExperienceId" class="btn btn-success">Güncelle</a>
                                </td>
                            </tr>
                        }                   
                    </tbody>
                </table>
                <br />
                <a href="/Experience/AddExperience" class="btn btn-primary">Yeni Deneyim Ekle</a>
            </div>
          
           
        </div>
    </div>
  
</div>



